body{
  color: black;
  border: 10px double black;

}
h1,h2{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-family: sans-serif;

}
p{
  color: black;
  font-style: normal;

}
img{
  height: 300px ;
  width: 400px;
  margin-left:auto ;
  margin-right: auto;
  display: block;

}
#overlay{
  color: blue;

}
nav>ul>li{
  font-style:italic ;
  flex-direction: row;
  display: flex;
  padding: 40px;

}
ul{
  color: blue ;
font-family: monospace;
font-weight:500;

}
table{
  padding: 5px;
  border: 1px solid SlateBlue;
  border-collapse: collapse;
}
 tr{
  padding: 5px;
  border: 1px solid SlateBlue;
  border-collapse: collapse;
}
 td{
  padding: 5px;
  border: 1px solid SlateBlue;
  border-collapse: collapse;
}
th{
   padding: 5px;
  border: 1px solid SlateBlue;
  border-collapse: collapse;
}
